extends layout 
block content 
  h2 Update Product 
  form(method="POST", action="/edit/" + product.id)
    .mb-3 
      label.form-label Product Name 
      input.form-control(type="text", name="name", value=product.name, required)
    .mb-3 
      label.form-label Description 
      input.form-control(type="text", name="description", value=product.description, required)
    .mb-3 
      label.form-label Quantity 
      input.form-control(type="number", name="quantity",value=product.quantity, required)
    .mb-3 
      label.form-label Price 
      input.form-control(type="number", name="price", value=product.price, required)
    .mb-3 
      label.form-label Manufacturer 
      input.form-control(type="text", name="manufacturer", value=product.manufacturer, required)
    button.btn.btn-primary(type="submit") Update Product